<html>

<script>
  function refresh() {
    window.location.reload(true);
  }
  setTimeout(refresh, 60000);
</script>

<header>
    <a href="https://www.asf.alaska.edu/"><img src="https://vertex.daac.asf.alaska.edu/static/images/alaska_satellite_facility_1000.png"></a>
</header>

<body>
<p />
Your requested data is being fetched from long term storage.  A link will appear below when available for download.  Data files will be returned to long term storage after seven days.
<p />

In Progress:
<UL>
    {% for product in products if product.status != 'available' %}
    <li>{{ product.key }}</li>
    {% endfor %}
</UL>

Available:
<UL>
    {% for product in products if product.status == 'available' %}
    <li><a href="{{ product.url }}">{{ product.key }}</a> available through {{ product.expiration }}</li>
    {% endfor %}
</UL>

</body>
</html>
