<html>

<header>
    <a href="https://www.asf.alaska.edu/"><img style="max-height: 37px;" src="https://vertex.daac.asf.alaska.edu/static/images/alaska_satellite_facility_1000.png"></a>
</header>

<body>
<p />
Thank you for requesting GRFN products from ASF.  The product(s) you requested are stored in long-term storage and are being retrieved.  You can check on the status of your products at {{ grfn_status_url }}. We will email again in either 12 hours or when all of your products are available.

<p />
<a href="{{ grfn_status_unsub_url }}">Unsubscribe</a> from emails

<p />
</body>
</html>
